#img1 {
  position:relative;
  height:400px;
  width:100%;
  display:inline-block;
}


#img1 img {
  position:absolute;
  width:100%;
  height:400px;
}


#aboutpart{
	position:relative;
	width:100%;
	display:inline-block;
	background-color:black;
	width:100%;
	height:300px;
}
#aboutpart .middletext h2{
	color:white;
	text-align:center;
	font-size:50px;
	padding:30px;
}

#aboutpart .middletext a{
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 30px 10%;
  text-decoration: none;
}

.servicelogo{
	display:flex;
	align-items:center;
	size:100px;
	padding:12px;
	text-decoration:none;
	font-weight:bold;
	font-size:100px;
}


#aboutpart .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 100px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}


#abouttext{
	position:relative;
	width:100%;
	display:inline-block;
	background-color:black;
	width:100%;
	height:420px;
}

#abouttext p{
  float: left;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 30px 10%;
  text-decoration: none;