body{
	background-image: url("https://cdn.wallpapersafari.com/39/27/ohLZNV.jpg");
}
.content{
	background: linear-gradient(90deg, rgba(12,2,2,1) 85%, rgba(217,145,0,1) 100%);
	color:#ffce6c;;
	text-align:left;
	font-size:19px;
	font-style: italic;
	
}
.ev{
	background-color: #373736;
	font-family:Courier;
	font-weight:bold;
	color: #F2D985;
	float:center;
}

.ev:nth-of-type(even){
	background-color: #636363;
	
}

#hding{
	padding:20px;
	font-size:30px;
	color:#D6C874;
	font-family: Arial, sans-serif;
}
.inf{
	background-color: #373736;
    border: 2px  outset #FFFF90;
    color: #F2F7CC;
	padding:10px;
	margin-left:90%;
	margin-top:20px;
	position:absolute;
	text-decoration:none;
}
.inf:hover{
	color: #FFD700 ;
	font-weight: 700 ;
	letter-spacing: 3px;
	background: none;
	transition: all 0.3s ease 0s;
}
.inff{
	position:absolute;
	top:150px;
	right:150px;
	background-color: #373736;
    border: 2px  outset #FFFF90;
    color: #F2F7CC;
	text-decoration:none;
}
.inff:hover{
	color:#8B0000;
}
input[type=submit]{
	background-color: #373736;
    border: 2px  outset #FFFF90;
    color: #F2F7CC;
	margin-left:80%;
	margin-top:20px;
	position:absolute;
	font-weight: 100;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	
}
input[type=submit]:hover{
	color: #FFD700 ;
	font-weight: 700 ;
	letter-spacing: 3px;
	background: none;
	transition: all 0.3s ease 0s;
	
}
table{
	margin-left:auto;
	margin-right:auto;
}


.tbl-cart{
  background-color: black;
  border: 1px  groove #FFF18A;
  color: #B6B6B6;
}


.ev .btnRemoveAction{
	color: #F2D985;
}