#img1 {
  position:relative;
  height:400px;
  width:100%;
  display:inline-block;
}


#img1 img {
  position:absolute;
  width:100%;
  height:400px;
}


#targetpart {
  position:relative;
  height:750px;
  width:100%;
  display:inline-block;
}


#targetpart img {
  position:absolute;
  width:100%;
  height:850px;
}


#targetpart .middletext{
	position: absolute;
	font-size:25px;
    z-index: 999;
	padding:50px;
    margin: 0 auto;
    left: 0%;
    right: 10%;        
    text-align: left;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 60%; /* Set the width of the positioned div */
}

#targetpart .middletext span{
	font-size:20px;
	font-style:italic
}



#servicepart{
	position:relative;
	width:100%;
	display:inline-block;
	background-color:black;
	width:100%;
	height:300px;
}
#servicepart .middletext h2{
	color:white;
	text-align:center;
	font-size:50px;
	padding:30px;
}

#servicepart .middletext a{
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 30px 10%;
  text-decoration: none;
}

.servicelogo{
	display:flex;
	align-items:center;
	size:100px;
	padding:12px;
	text-decoration:none;
	font-weight:bold;
	font-size:100px;
}


#servicepart .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 100px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}


#servicetext{
	position:relative;
	width:100%;
	display:inline-block;
	background-color:black;
	width:100%;
	height:400px;
}

#servicetext p{
	float: left;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 30px 200px;
  text-decoration: none;
}