body{
	background-image:url('https://wallpapercave.com/wp/wp2486418.jpg');
	height: 1300px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}


.container {
  background-color: #373736;
  padding: 5px;
  border: 2px outset #FFFF90;
  border-radius: 3px;
  color:#F2F7CC;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:30px;
  width:300px;
}
.container2{
  background-color: #373736;
  padding: 5px;
  border: 2px outset #FFFF90;
  border-radius: 3px;
  color:#F2F7CC;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:30px;
  width:300px;
}

input[type=text] {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}
.title{
	text-align:center;
}

.titi{
	color:#FFFF90;
}
input[type=submit]{
	background-color: #373736;
    border: 2px  outset #FFFF90;
    color: #F2F7CC;
	margin-left:46.5%;
	margin-top:20px;
	position:absolute;
	font-weight: 100;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	
}
input[type=submit]:hover{
	color: #FFD700 ;
	font-weight: 700 ;
	letter-spacing: 3px;
	background: none;
	transition: all 0.3s ease 0s;
	
}