*{
	margin: 0px;
	padding:0px;
}

#header{
	width:100%;
	height:80px;
	background-color:black;
	text-align:left;
	padding:0px;
	overflow:hidden;
	position:sticky;
	top:0;
}
#header .title{
	font-family:Imprint MT Shadow;
	color:gold;
	font-size:25pt;
	text-decoration:none;
	padding:22px;
	float:left;
}

#header .animationstyle
{
	animation: colorchange 1s infinite;
}

@keyframes colorchange
{
	0%{color: #ffff66;}
	15%{color: #ffff00;}
	30%{color: #ffcc00;}
	45%{color: white;}
	60%{color: #00ffff;}
	75%{color: #33ccff;}
	90%{color: #ff9999;}
	100%{color: #ffcc66;}
}

#header a{
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

.welcome{
    position:absolute;
    right:220px;
}

#sidemenu{
	width:100%;
	height:45px;
	background-color:grey;
	text-align: left;
	padding:0px;
	overflow:hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


#header .btn-1{
    position:absolute;
    right:30px;
    top:20px;
	width: 150px;
	height: 45px;
	border: none;
	color: white;
	background-color: rgb(255, 0, 68);
	border-radius: 4px;
	box-shadow: inset 0 0 0 0 #f9e506;
	transition: ease-out 0.3s;
	font-size: 2rem;
	outline: none;
}

#header .btn-1:hover{
	box-shadow: inset 150px 0 0 0 #12a10d;
	cursor: pointer;
	color: #000;
}

.btnhome{
    color:black;
    position:absolute;
    left:80px;
    top:90px;
    display:flex;
	align-items:center;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
}

.btnhome:hover{
    color:indigo;
}


.navbar {
	width: 100%;
	background-color: black;
	overflow: auto;
  }
  
  
  .navbar a {
	float: right;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navbar a:hover {
	background-color: black;
  }
  
  .active {
	background-color: #4CAF50;
  }
  
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
  }
  
  
  .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
  
  
